<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          type="text/css"
          href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet"
          type="text/css"
          href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../static/semantic/dist/semantic.min.js"></script>
    <title>Jira Searcher</title>
</head>
<body>
<div class="ui middle aligned center aligned grid" style="height: 100%">
    <div class="column">
        <h1 class="ui header">JIRA Searcher</h1>
        <a href="/work-logs">
            <button class="ui blue button">
                <i class="address book icon"></i>
                Work log Searcher
            </button>
        </a>
        <a href="/work-time">
            <button class="ui blue button">
                <i class="stopwatch icon"></i>
                Work time Searcher
            </button>
        </a>
    </div>
</div>
</body>
</html>