<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          type="text/css"
          href="../static/semantic/dist/semantic.min.css">
    <link rel="stylesheet"
          type="text/css"
          href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../static/semantic/dist/semantic.min.js"></script>
    <title>Work logs Searcher</title>
</head>
<body onload="onLoad()">
<div class="ui center aligned grid" style="height: 100%">
    <div class="two wide column">
        <div class="ui hidden divider"></div>
        <a href="/">
            <button class="ui blue button">
                <i class="home icon"></i>
                Home Page
            </button>
        </a>
    </div>
    <div class="twelve wide column">
        <div class="ui hidden divider"></div>
        <h1 class="ui header">Work logs Searcher</h1>
        <div class="ui hidden section divider"></div>
        <div class="ui blue raised container segment">
            <div class="ui grid">
                <div class="five wide column">
                    <form class="ui form" action="{{ url_for ('work_logs_search') }}" method="post">
                        <div class="required field">
                            <label class="float-left">Min Date</label>
                            <input type="date" name="min-date-input" required>
                        </div>
                        <div class="required field">
                            <label class="float-left">Max Date</label>
                            <input type="date" name="max-date-input" required>
                        </div>

                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <select class="ui fluid search dropdown" id="issue-type-select" name="issue-type-input"
                                    multiple>
                                <option value="">Issue Type</option>
                                {% for issue_type in issue_types %}
                                <option value="{{ issue_type }}" name="issue">{{ issue_type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <select class="ui fluid search dropdown" id="status-type-select" name="status-type-input"
                                    multiple>
                                <option value="">Status Type</option>
                                {% for status_type in status_types %}
                                <option value="{{ status_type }}" name="status">{{ status_type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <select class="ui fluid search dropdown" id="order-type-select" name="order-type-input"
                                    multiple>
                                <option value="">Order Type</option>
                                {% for order_type in order_types %}
                                <option value="{{ order_type }}" name="order">{{ order_type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="ui hidden divider"></div>
                        <button class="ui blue button" type="submit">
                            <i class="search icon"></i>
                            Search
                        </button>
                    </form>
                </div>
                <div class="eleven wide column">
                    <div class="eleven wide column">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Project, Issue, Order, Name..." id="search"
                                   onkeyup="search()">
                            <i class="search icon"></i>
                        </div>
                    </div>

                    <table class="ui inverted blue very compact striped sortable table" id="table">
                        <thead>
                        <tr>
                            {% for header in headings %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in data %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <div class="ui hidden divider"></div>
        <button class="ui blue button" onclick="tableToCSV()">
            <i class="download icon"></i>
            Export as CSV
        </button>
    </div>
</div>
</body>
<script>
    function onLoad() {
        $('#issue-type-select').dropdown();
        $('#status-type-select').dropdown();
        $('#order-type-select').dropdown();

        $('#table').tablesort();
    }

    function downloadCSVFile(csv_data) {
        let CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        let temp_link = document.createElement('a');


        temp_link.download = new Date().toUTCString() + ".csv";
        temp_link.href = window.URL.createObjectURL(CSVFile);

        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        temp_link.click();
        document.body.removeChild(temp_link);
    }

    function tableToCSV() {
        let csv_data = [];

        let rows = document.getElementsByTagName('tr');
        for (let i = 0; i < rows.length; i++) {
            let cols = rows[i].querySelectorAll('td,th');
            let csv_row = [];

            for (let j = 0; j < cols.length; j++) {
                csv_row.push(cols[j].innerHTML);
            }

            if (window.getComputedStyle(rows[i]).display !== "none") {
                csv_data.push(csv_row.join(","));
            }
        }

        csv_data = csv_data.join('\n');

        downloadCSVFile(csv_data);
    }

    function search() {
        let input = document.getElementById("search");
        let filter = input.value.toUpperCase();
        let table = document.getElementById("table");
        let tr = table.getElementsByTagName("tr");
        for (let i = 1; i < tr.length; i++) {
            let count_td = 0;
            for (let j = 0; j < 4; j++) {
                let td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        count_td++;
                    }
                }
            }
            if (count_td > 0) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

    /* fixed sorting function */
    (function ($) {
        $.tablesort = function ($table, settings) {
            var self = this;
            this.$table = $table;
            this.$thead = this.$table.find('thead');
            this.settings = $.extend({}, $.tablesort.defaults, settings);
            this.$sortCells = this.$thead.length > 0 ? this.$thead.find('th:not(.no-sort)') : this.$table.find('th:not(.no-sort)');
            this.$sortCells.on('click.tablesort', function () {
                self.sort($(this));
            });
            this.index = null;
            this.$th = null;
            this.direction = null;
        };

        $.tablesort.prototype = {

            sort: function (th, direction) {
                var start = new Date(),
                    self = this,
                    table = this.$table,
                    rowsContainer = table.find('tbody').length > 0 ? table.find('tbody') : table,
                    rows = rowsContainer.find('tr').has('td, th'),
                    cells = rows.find(':nth-child(' + (th.index() + 1) + ')').filter('td, th'),
                    sortBy = th.data().sortBy,
                    sortedMap = [];

                var unsortedValues = cells.map(function (idx, cell) {
                    if (sortBy)
                        return (typeof sortBy === 'function') ? sortBy($(th), $(cell), self) : sortBy;
                    return ($(this).data().sortValue != null ? $(this).data().sortValue : $(this).text());
                });
                if (unsortedValues.length === 0) return;

                //click on a different column
                if (this.index !== th.index()) {
                    this.direction = 'asc';
                    this.index = th.index();
                } else if (direction !== 'asc' && direction !== 'desc')
                    this.direction = this.direction === 'asc' ? 'desc' : 'asc';
                else
                    this.direction = direction;

                direction = this.direction == 'asc' ? 1 : -1;

                self.$table.trigger('tablesort:start', [self]);
                self.log("Sorting by " + this.index + ' ' + this.direction);

                // Try to force a browser redraw
                self.$table.css("display");
                // Run sorting asynchronously on a timeout to force browser redraw after
                // `tablesort:start` callback. Also avoids locking up the browser too much.
                setTimeout(function () {
                    self.$sortCells.removeClass(self.settings.asc + ' ' + self.settings.desc);
                    for (var i = 0, length = unsortedValues.length; i < length; i++) {
                        sortedMap.push({
                            index: i,
                            cell: cells[i],
                            row: rows[i],
                            value: unsortedValues[i]
                        });
                    }

                    sortedMap.sort(function (a, b) {
                        return self.settings.compare(a.value, b.value) * direction;
                    });

                    $.each(sortedMap, function (i, entry) {
                        rowsContainer.append(entry.row);
                    });

                    th.addClass(self.settings[self.direction]);

                    self.log('Sort finished in ' + ((new Date()).getTime() - start.getTime()) + 'ms');
                    self.$table.trigger('tablesort:complete', [self]);
                    //Try to force a browser redraw
                    self.$table.css("display");
                }, unsortedValues.length > 2000 ? 200 : 10);
            },

            log: function (msg) {
                if (($.tablesort.DEBUG || this.settings.debug) && console && console.log) {
                    console.log('[tablesort] ' + msg);
                }
            },

            destroy: function () {
                this.$sortCells.off('click.tablesort');
                this.$table.data('tablesort', null);
                return null;
            }

        };

        $.tablesort.DEBUG = false;

        $.tablesort.defaults = {
            debug: $.tablesort.DEBUG,
            asc: 'sorted ascending',
            desc: 'sorted descending',
            compare: function (a, b) {
                let newA = parseFloat(a);
                let newB = parseFloat(b);

                if (isNaN(newA) || isNaN(newB)) {
                    newA = a;
                    newB = b;
                }

                if (newA > newB) {
                    return 1;
                } else if (newA < newB) {
                    return -1;
                } else {
                    return 0;
                }
            }
        };

        $.fn.tablesort = function (settings) {
            var table, sortable, previous;
            return this.each(function () {
                table = $(this);
                previous = table.data('tablesort');
                if (previous) {
                    previous.destroy();
                }
                table.data('tablesort', new $.tablesort(table, settings));
            });
        };

    })(window.Zepto || window.jQuery);
</script>
</html>